@import "../../../style/index";

.m-pagination {
  display: flex;
  align-items: center;
  gap: @mui-default-gap;

  &__total-text {
    font-size: .9rem;
    line-height: .9rem;
    color: @mui-text-color-secondary;
  }
}
