@import "../../../style/index";

.m-dropdown {
  display: inline-block;
}

.m-dropdown-menu-item {
  padding: 0;

  & > .ant-menu-title-content {
    width: 100%;
  }

  & > .ant-menu-title-content > * {
    display: inline-block;
    width: 100%;
    padding: 5px 12px;
    color: @mui-text-color;
  }
}

