@import "../../../style/index";


.m-header {
  background-color: @mui-bg-component;
  font-size: 1rem;
  padding: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  overflow: auto;
  line-height: 1rem;
  white-space: nowrap;

  &-title {
    font-size: 1rem;
    font-weight: bold;

    display: flex;
    align-items: center;
    column-gap: .5rem;
    height: 1rem;
  }

  &-actions {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    height: 1rem;
  }
}
