@import "../../../style/index";

.m-popconfirm {
  padding: 1rem 1rem;
  flex-direction: column;
  display: flex;
  justify-content: space-around;

  &-actions {
    margin-top: 1rem;
    justify-content: end
  }
}
