@import "variables";

/* =============== Typography =============== */


h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  color: @mui-text-color;
  font-weight: 500;
}


.m-title--bold {
  .m-title;
  font-weight: 700;
}

.m-title {
  font-size: 1.2rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
}

.m-subtitle {
  font-weight: bold;
  text-transform: uppercase;
  font-size: .8rem;
  line-height: .85rem;
  color: @mui-text-color-secondary;
}
