:root {
  --color-black: #000;
  --color-white: #fff;
  --color-white-rgb: 255, 255, 255;

  --color-primary: #d97706; // --color-primary-6
  --color-primary-1: #fffbeb;
  --color-primary-2: #fef3c7;
  --color-primary-3: #fde68a;
  --color-primary-4: #fcd34d;
  --color-primary-5: #fbbf24;
  --color-primary-6: #d97706;
  --color-primary-7: #b45309;
  --color-primary-8: #92400e;
  --color-primary-9: #78350f;
  --color-primary-accent: #e11d48;

  --color-secondary: #2563eb;

  --color-text: #1f1f1f;
  --color-text-secondary: #4d4f5d;
  --color-text-disabled: #9799a4;

  --color-background-light: #f9f9f9;
  --color-background: #f7f8fa;
  --color-background-dark: #e1e2e5;

  --color-borders-light: #e1e1e1;
  --color-borders: #d2d3d8;
  --color-borders-dark: #8f91a8;


  // Statuses
  --color-success: var(--color-green-6);
  --color-success-hover: var(--color-green-7);
  --color-success-light: var(--color-green-0);

  --color-warning: var(--color-yellow-6);
  --color-warning-hover: var(--color-yellow-7);
  --color-warning-light: var(--color-yellow-0);

  --color-info: var(--color-sky-6);
  --color-info-hover: var(--color-sky-7);
  --color-info-light: var(--color-sky-0);

  --color-error: var(--color-red-6);
  --color-error-hover: var(--color-red-7);
  --color-error-light: var(--color-red-0);


  // Palette
  --color-red-0: #fef2f2;
  --color-red-6: #dc2626;
  --color-red-7: #b91c1c;
  --color-red-9: #7f1d1d;

  --color-orange-0: #fff7ed;
  --color-orange-6: #ea580c;
  --color-orange-7: #c2410c;
  --color-orange-9: #7c2d12;

  --color-amber-0: #fffbeb;
  --color-amber-6: #d97706;
  --color-amber-7: #b45309;
  --color-amber-9: #78350f;

  --color-yellow-0: #fefce8;
  --color-yellow-6: #eab308;
  --color-yellow-7: #a16207;
  --color-yellow-9: #713f12;

  --color-lime-0: #f7fee7;
  --color-lime-6: #65a30d;
  --color-lime-7: #4d7c0f;
  --color-lime-9: #365314;

  --color-green-0: #f0fdf4;
  --color-green-6: #16a34a;
  --color-green-7: #15803d;
  --color-green-9: #14532d;

  --color-emerald-0: #ecfdf5;
  --color-emerald-6: #059669;
  --color-emerald-7: #047857;
  --color-emerald-9: #064e3b;

  --color-teal-0: #f0fdfa;
  --color-teal-6: #0d9488;
  --color-teal-7: #0f766e;
  --color-teal-9: #134e4a;

  --color-cyan-0: #ecfeff;
  --color-cyan-6: #0891b2;
  --color-cyan-7: #0e7490;
  --color-cyan-9: #164e63;

  --color-sky-0: #f0f9ff;
  --color-sky-6: #0284c7;
  --color-sky-7: #0369a1;
  --color-sky-9: #0c4a6e;

  --color-blue-0: #eff6ff;
  --color-blue-6: #2563eb;
  --color-blue-7: #1d4ed8;
  --color-blue-9: #1e3a8a;

  --color-indigo-0: #eef2ff;
  --color-indigo-6: #4f46e5;
  --color-indigo-7: #4338ca;
  --color-indigo-9: #312e81;

  --color-violet-0: #f5f3ff;
  --color-violet-6: #7c3aed;
  --color-violet-7: #7c3aed;
  --color-violet-9: #4c1d95;

  --color-purple-0: #faf5ff;
  --color-purple-6: #9333ea;
  --color-purple-7: #7e22ce;
  --color-purple-9: #581c87;

  --color-fuchsia-0: #fdf4ff;
  --color-fuchsia-6: #c026d3;
  --color-fuchsia-7: #a21caf;
  --color-fuchsia-9: #581c87;

  --color-pink-0: #fdf2f8;
  --color-pink-6: #db2777;
  --color-pink-7: #be185d;
  --color-pink-9: #831843;

  --color-rose-0: #fff1f2;
  --color-rose-6: #e11d48;
  --color-rose-7: #be123c;
  --color-rose-9: #881337;

  // Custom
  --color-transparent: transparent;
  --color-background-component: #fff;
  --gap-default: .5rem;

  // Border
  --border-radius: 12px;
  --border-radius-component: 6px;
  --border-width: 1px;

  // Shadow
  --shadow-small: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  --shadow-base: 0px 1px 2px rgba(0, 0, 0, 0.14);
  --shadow-large: 0px 4px 10px rgba(0, 0, 0, 0.14);
  --shadow-large-inverted: 0px -24.6403px 33.2644px rgb(0 0 0 / 5%);
}


/* =============== Colors =============== */

@mui-black: var(--color-black);
@mui-white: var(--color-white);

// primary colors
@mui-primary-color: var(--color-primary);
@mui-primary-color-1: var(--color-primary-1);
@mui-primary-color-2: var(--color-primary-2);
@mui-primary-color-3: var(--color-primary-3);
@mui-primary-color-4: var(--color-primary-4);
@mui-primary-color-5: var(--color-primary-5);
@mui-primary-color-6: var(--color-primary-6);
@mui-primary-color-7: var(--color-primary-7);
@mui-primary-color-8: var(--color-primary-8);
@mui-primary-color-9: var(--color-primary-9);
@mui-primary-color-accent: var(--color-primary-accent);

// secondary colors
@mui-secondary-color: var(--color-secondary);

// color groups
@mui-success: var(--color-success);
@mui-success-hover: var(--color-success-hover);
@mui-success-secondary: var(--color-success-light);

@mui-warning: var(--color-warning);
@mui-warning-hover: var(--color-warning-hover);
@mui-warning-secondary: var(--color-warning-light);

@mui-info: var(--color-info);
@mui-info-hover: var(--color-info-hover);
@mui-info-secondary: var(--color-info-light);

@mui-error: var(--color-error);
@mui-error-hover: var(--color-error-hover);
@mui-error-secondary: var(--color-error-light);

// text colors
@mui-text-color: var(--color-text);
@mui-text-color-secondary: var(--color-text-secondary);
@mui-text-color-disabled: var(--color-text-disabled);

// backgrounds
@mui-bg-component: var(--color-background-component);
@mui-bg-color-light: var(--color-background-light);
@mui-bg-color: var(--color-background);
@mui-bg-color-dark: var(--color-background-dark);

// borders
@mui-border-color-light: var(--color-borders-light);
@mui-border-color: var(--color-borders);
@mui-border-color-dark: var(--color-borders-dark);
@mui-border-radius: var(--border-radius);
@mui-border-radius-component: var(--border-radius-component);
@mui-border-width: var(--border-width);
@mui-border: @mui-border-width solid @mui-border-color;

// shadow
@mui-shadow-small: var(--shadow-small);
@mui-shadow-base: var(--shadow-base);
@mui-shadow-large: var(--shadow-large);
@mui-shadow-large-inverted: var(--shadow-larege-inverted);

// misc
@mui-default-gap: var(--gap-default);


// media queries breakpoints

@mui-screen-xs: 480px;
@mui-screen-xs-min: @mui-screen-xs;
// Extra small screen / phone

// small screen / tablet
@mui-screen-sm: 576px;
@mui-screen-sm-min: @mui-screen-sm;

// medium screen / desktop
@mui-screen-md: 768px;
@mui-screen-md-min: @mui-screen-md;

// large screen / wide desktop
@mui-screen-lg: 992px;
@mui-screen-lg-min: @mui-screen-lg;

// extra large screen / full hd
@mui-screen-xl: 1200px;
@mui-screen-xl-min: @mui-screen-xl;

// extra extra large screen / large desktop
@mui-screen-xxl: 1600px;
@mui-screen-xxl-min: @mui-screen-xxl;

// provide a maximum
@mui-screen-xs-max: (@mui-screen-sm-min - 1px);
@mui-screen-sm-max: (@mui-screen-md-min - 1px);
@mui-screen-md-max: (@mui-screen-lg-min - 1px);
@mui-screen-lg-max: (@mui-screen-xl-min - 1px);
@mui-screen-xl-max: (@mui-screen-xxl-min - 1px);
