@import "./alert/style/index";
@import "./card/style/index";
@import "./collapse-panel/style/index";
@import "./date/date-picker/style/index";
@import "./date/date-time-picker/style/index";
@import "./date/time-picker/style/index";
@import "./divider/style/index";
@import "./drawer/style/index";
@import "./dropdown/style/index";
@import "./editable-table/style/index";
@import "./form/style/index";
@import "./header/style/index";
@import "./icon/style/index";
@import "./inputs/style/index";
@import "./list/style/index";
@import "./menu/style/index";
@import "./modal/style/index";
@import "./no-data/style/index";
@import "./notification/style/index";
@import "./pagination/style/index";
@import "./popconfirm/style/index";
@import "./popover/style/index";
@import "./radio/style/index";
@import "./skeleton/style/index";
@import "./spinner/style/index";
@import "./table-backend/style/index";
@import "./table/style/index";
@import "./tag/style/index";
@import "./tooltip/style/index";
@import "./tree-view/style/index";
@import "./tree/style/index";

kbd {
  background-color: @mui-border-color-light;
  border-radius: @mui-border-radius-component;
  border: @mui-border;
  box-shadow: @mui-shadow-base;
  color: @mui-text-color;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px !important;
  white-space: nowrap;
}


.scaled {
  .ant-breadcrumb {
    font-size: 1rem;
  }

  .ant-collapse {
    font-size: 1rem;
  }

  .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding: .75rem 1rem;

    .ant-collapse-arrow {
      font-size: .8rem;
      margin-right: .75rem;
    }
  }


  .ant-tabs {
    font-size: 1rem;

    &-tab {
      font-size: 1rem;
      padding: .75rem 0;
    }
  }

  body {
    font-size: .875rem;
  }
}
