@import "../../../../style/index";

.ant-picker-panel-container {
  border-radius: @mui-border-radius-component;
  border: @mui-border;
  box-shadow: none;

  .ant-picker-panel {
    border: none;
  }
}
