@import "../../../style/index";

.m-tree > .m-tree-holder {
  display: flex;
  flex-direction: column;
}


.verticalLine() {
  position: absolute;
  top: 0;
  left: (@tree-node-height / 2);
  bottom: -@tree-node-padding;
  margin-left: -1px;
  border-right: 1px solid @mui-border-color;
  content: ' ';
}

.horizontalLine() {
  position: absolute;
  width: @tree-node-height - 1rem;
  height: @tree-node-height - (10 / 14rem);
  border-bottom: 1px solid @mui-border-color;
  left: (@tree-node-height / 2);
  content: ' ';
}


/* Toggle */

@tree-node-height: (24 / 14rem);
@tree-node-padding: (4 / 14rem);
@tree-node-hover-bg: @mui-border-color-light;


/* Tree */

.m-tree-node {
  display: flex;
  align-items: flex-start;
  outline: none;

  &:not(:last-child) {
    padding: 0 0 @tree-node-padding;
  }
}

.m-tree-node__option {
  position: relative;
  min-height: @tree-node-height;

  background: transparent;
  border-radius: @mui-border-radius-component;
  padding: 0 @tree-node-padding;
  margin: 0;

  line-height: @tree-node-height;
  color: inherit;
  cursor: pointer;

  transition: all .3s, border 0s, line-height 0s, box-shadow 0s;


  .m-tree-node--disabled & {
    color: @mui-text-color-disabled;
    cursor: not-allowed;

    &:hover {
      background: transparent;
    }
  }

  .m-tree-node--selected & {
    background: @mui-primary-color-1;
    color: @mui-primary-color-7;
  }
}


.m-tree-toggle {
  position: relative;
  width: @tree-node-height;
  flex: none;
  text-align: center;
  margin: 0;

  &:not(&--noop) {
    cursor: pointer;
    user-select: none;
  }

  &-icon {
    display: inline-block;
    transition: 0.2s;
  }

  &-loading-icon {
    color: @mui-primary-color;
  }

  &--close .m-tree-toggle-icon {
    transform: rotate(-90deg);
  }
}


.m-tree-indent {
  align-self: stretch;
  white-space: nowrap;
  user-select: none;

  &-unit {
    display: inline-block;
    width: @tree-node-height;
    height: 100%;
  }
}

.m-tree-indent--show-line {
  .m-tree-indent {
    &--vertical-line {
      position: relative;
      z-index: 1;

      &::before {
        .verticalLine;
      }
    }

    &--horizontal-line::after {
      .horizontalLine;
    }
  }


  &.m-tree-indent--extend {
    .m-tree-indent-unit.m-tree-indent--vertical-line.m-tree-indent--horizontal-line {
      width: (2 * @tree-node-height);

      &::after {
        width: (@tree-node-height);
      }
    }
  }


  &.m-tree-indent--last-row .m-tree-indent--vertical-line:last-of-type::before {
    top: auto !important;
    bottom: auto !important;
    height: @tree-node-height - (10 / 14rem) !important;
  }
}

