// -------- NgZorro overrides --------
// reference ng-zorro-antd/themes/variable.less for all available ant-design variables
@primary-color: #16a34a;
@box-shadow-base: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
@border-radius-base: 4px;
@component-background: white;


// -------- MUI overrides based on NgZorro colors --------
@import "ng-zorro";
