@border-radius-base: 6px;


// -------- MUI overrides based on NgZorro colors --------
:root {
  --color-primary: @primary-color;
  --color-primary-1: @primary-1;
  --color-primary-2: @primary-2;
  --color-primary-3: @primary-3;
  --color-primary-4: @primary-4;
  --color-primary-5: @primary-5;
  --color-primary-6: @primary-6;
  --color-primary-7: @primary-7;
  --color-primary-8: @primary-8;
  --color-primary-9: @primary-9;


  --color-secondary: @blue-6;

  --color-success: @green-6;
  --color-success-hover: @green-7;
  --color-success-light: @green-2;

  --color-warning: @orange-6;
  --color-warning-hover: @orange-7;
  --color-warning-light: @orange-2;

  --color-info: @blue-6;
  --color-info-hover: @blue-7;
  --color-info-light: @blue-2;

  --color-error: @red-6;
  --color-error-hover: @red-7;
  --color-error-light: @red-2;

  --color-text: @text-color;
  --color-text-secondary: @text-color-secondary;
  --color-text-disabled: @disabled-color;

  //--color-background-light: @background-color-light;
  //--color-background: @background-color-base;
  //--color-background-dark: darken(@background-color-base, 5);

  --color-borders-light: @border-color-split;
  --color-borders: @border-color-base;
  --color-borders-dark: darken(@border-color-base, 10%);

  --color-background-component: @component-background;
}


@mui-screen-xs: @screen-xs;
@mui-screen-xs-min: @screen-xs-min;
@mui-screen-sm: @screen-sm;
@mui-screen-sm-min: @screen-sm-min;
@mui-screen-md: @screen-md;
@mui-screen-md-min: @screen-md-min;
@mui-screen-lg: @screen-lg;
@mui-screen-lg-min: @screen-lg-min;
@mui-screen-xl: @screen-xl;
@mui-screen-xl-min: @screen-xl-min;
@mui-screen-xxl: @screen-xxl;
@mui-screen-xxl-min: @screen-xxl-min;
@mui-screen-xs-max: @screen-xs-max;
@mui-screen-sm-max: @screen-sm-max;
@mui-screen-md-max: @screen-md-max;
@mui-screen-lg-max: @screen-lg-max;
@mui-screen-xl-max: @screen-xl-max;
